* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

nav  {
    height: 20px;
    align-items: center;
    color: rgb(2, 2, 2);
    display: flex;
    width: auto;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
}

.brand {
   display: flex;
   flex-direction: row;
   font-family: 'Times New Roman', Times, serif;
}

.first {
    color: white;
    font-weight: 100;
    font-size: 25px;
}

.last {
    color: crimson;
    font-weight: 900;
    font-size: 25px;
}

.navigasi {
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

.navigasi>li {
    list-style: none;
    padding: 15px;
    margin-right: 0px;
}

.navigasi>li>a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.navigasi>li>a:hover { 
    color: crimson;
}

.kon-welcome {
    justify-content: center;
    background-color: crimson;
    display: flex;
    color: rgb(255, 255, 255);
}

.h1-wc {
    padding: 10px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20PX;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
    color: crimson;
}

.pilih {
    text-decoration: none;
    background-color: crimson;
    display: flex;
    border-radius: 20px;
    color: #fff;
    margin: 10px;
    width: auto;
    justify-content: center;
}

.kon-ruang {
    background-color: #fff;
    padding: 20px;
    width: 380px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

input {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #bd2106;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    }
    
button:hover {
    background-color: crimson;
}

.kon-foot {
    background-color: rgb(0, 0, 0);
    color: azure;
}

.p-foot {
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.hasil{
    height: auto;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: auto;
}

@media (max-width:900px){
    .services{
        flex-direction: column;
    }

    .navigasi>li{
        padding: 5px;
    }
    
    nav {
        height: auto;
        widht: auto;
    }
}
